* {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

.container {
    margin-top: 80px;
    height: 1000px;
    padding: 20px;
}

.form {
    background: white;
    width: 300px;
    height: 45px;
    display: flex;
    border-radius: 15px;
    position: fixed;
    top: 20px;
    right: 200px;
}

.form input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.form button {
    background: red;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    height: 45px;
}

.user-button {
    position: fixed;
    top: 20px;
    right: 80px;
}

.favourite-button {
    position: fixed;
    top: 20px;
    right: 80px;
}

.admin-button {
    position: fixed;
    top: 20px;
    right: 20px;
}

.user-button button,
.favourite-button button,
.admin-button button,
.button-container button {
    background: red;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.fa-magnifying-glass,
.fa-user,
.fa-user-secret,
.fa-heart,
.fa-lock,
.fa-user-plus,
.fa-house,
.fa-arrow-right,
.fa-arrow-left,
.fa-plus,
.fa-sign-in,
.fa-square-plus {
    align-self: center;
    padding: 7px;
    color: red;
}

.login-form,
.create-post-form {
    background: white;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.register-form {
    background: white;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.login-form h2,
.create-post-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-form label,
.create-post-form label {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.login-form input,
.create-post-form input {
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.login-form button,
.create-post-form button{
    background: red;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0;
}

.login-form button:hover,
.create-post-form button:hover {
    background-color: darkred;
}

.register-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.register-form label {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.register-form button {
    background: red;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0;
}

.register-form button:hover {
    background-color: darkred;
}

.background-image {
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: backgroundTransition 20s infinite;
}

@keyframes backgroundTransition {
    0% {
        opacity: 1;
        background-image: url('login-background1.jpg');
    }
    10% {
        opacity: 1;
        background-image: url('login-background1.jpg');
    }
    30% {
        opacity: 1;
        background-image: url('login-background2.jpg');
    }
    50% {
        opacity: 1;
        background-image: url('login-background3.jpg');
    }
    70% {
        opacity: 1;
        background-image: url('login-background4.jpg');
    }
    90% {
        opacity: 1;
        background-image: url('login-background5.jpg');
    }
    100% {
        opacity: 1;
        background-image: url('login-background1.jpg');
    }
}

.home-button,
.signup-button,
.login-button {
    background: gray;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.home-button:hover,
.signup-button:hover,
.login-button:hover {
    background-color: darkgray;
}

.login-form button:not(:first-of-type) {
    margin-left: 10px;
}

.register-form button:not(:first-of-type) {
    margin-left: 10px;
}

.form input:not(:last-of-type) {
    margin-bottom: 10px;
}

form.register-form {
    background: white;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

form.search-form {
    background: white;
    width: 300px;
    height: 45px;
    display: flex;
    border-radius: 15px;
    top: 20px;
    right: 200px;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}

.register-form input:focus {
    border-color: red;
}

.register-form input:valid {
    border-color: green;
}

.register-form input:invalid {
    border-color: red;
}

.captcha-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.captcha-input {
    flex: 1;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.captcha-image {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    margin-left: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-left: auto;
}

.navbar button {
    background: #FF0000;
    color: #FFFFFF;
}

.nav-button {
    background: red;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.nav-button i {
    padding: 7px;
    color: white;
}

.nav-button:hover {
    background-color: darkred;
}

.nav-button:hover i {
    color: white;
}

.logo img {
    height: 80px;
    width: 100px;
}

.search-form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
}

.search-form input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.search-form button {
    background: red;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 45px;
}

.category-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.category-buttons button {
    background: red;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-buttons button i {
    padding: 7px;
    color: white;
}

.category-buttons button:hover {
    background-color: darkred;
}

.category-buttons button:hover i {
    color: white;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.account-buttons {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.account-buttons button {
    background: red;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.account-buttons button i {
    align-self: center;
    padding: 7px;
    color: white;
}

.search-form button i {
    align-self: center;
    padding: 7px;
    color: white;
}

.account-buttons button:hover {
    background-color: darkred;
}

.account-buttons button:hover i {
    color: white;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.login-form .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form .form-header .logo-container {
    margin-bottom: 0;
}

.login-form .form-header .divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 10px;
    margin-top: 5px;
}

.login-form .form-content.authors {
    padding: 10px;
}

.login-form .form-content.authors h2 {
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-group .textarea-container textarea {
    width: 600px;
    height: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    max-width: 100%;
    box-sizing: border-box;
}
  
.create-post-form {
    width: 800px;
    height: 500px;
}