{% extends 'body/welcome.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'logout.js' %}"></script>
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'PenSpot.png' %}" alt="Logo">
        </div>
        <div class="search-container">
            <form class="search-form">
                <input type="text" placeholder="Search what you need">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
                </button>
            </form>
        </div>
        <div class="account-buttons">
            {% if user.is_authenticated %}
                <button onclick="location.href='account/'">
                    <i class="fa-solid fa-user" style="color: white;"></i>
                </button>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button id="logout-button" onclick="logoutUser()">
                        <i class="fa-solid fa-power-off" style="color: white;"></i>
                    </button>
                </form>
            {% else %}
                <button onclick="location.href='login/'">
                    <i class="fa-solid fa-sign-in" style="color: white;"></i>
                </button>
            {% endif %}
            <button onclick="location.href='admin/'">
                <i class="fa-solid fa-user-secret" style="color: white;"></i>
            </button>
        </div>
    </div>
{% endblock %}
