{% extends 'body/welcome.html' %}
{% load static %}
{% block content %}
    <div class="latest-posts-wrapper content-wrapper">
        <h1 class="latest-posts-title">Latest Posts</h1>
        <div class="latest-posts-container">
            {% for post in latestposts %}
                <div class="post" onclick="window.location.href='{% url 'post' post_id=post.id %}'">
                    <div class="post-image">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Post Image">
                        {% endif %}
                    </div>
                    <div class="post-details">
                        <h2>{{ post.title }}</h2>
                        <p class="author-info">Posted by <em>{{ post.user.userprofile.nickname }}</em></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if latestposts.has_previous %}
                <a href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                <a href="?page={{ latestposts.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
            {% endif %}
            <span class="current-page">{{ latestposts.number }}</span>
            {% if latestposts.has_next %}
                <a href="?page={{ latestposts.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                <a href="?page={{ latestposts.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
