{% extends 'body/welcome.html' %}
{% load static %}
{% block content %}
<div class="background-image"></div>
<div class="login-page">
    <form class="login-form">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <div class="button-container">
            <button onclick="location.href='/register/'"; type="submit" class="signup-button">
                <i class="fa-solid fa-user-plus" style="color: white;"></i>
            </button>
            <button onclick="location.href='/'"; type="button" class="home-button">
                <i class="fa-solid fa-house" style="color: white;"></i>
            </button>
            <button type="submit" class="login-button">
                <i class="fa-solid fa-arrow-right" style="color: white;"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}