{% extends 'body/welcome.html' %}
{% load static %}
{% block content %}
    <div class="background-image"></div>
    <div class="account-page">
        <div class="create-post-form">
            <div class="form-header">
                <h2>Create Post</h2>
            </div>
            <form method="post" action="{% url 'newpost' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-container">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control fixed-height newpost-input" id="title" name="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <div class="textarea-container">
                        <textarea class="form-control expandable newpost-input" id="content" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group file-upload">
                    <label for="image">Upload Image</label>
                    <input type="file" id="image" name="image">
                    <div id="image-preview" class="image-preview">
                        <div id="image-placeholder" class="image-placeholder">
                            <i class="fas fa-image"></i>
                            <span>Image Preview</span>
                        </div>
                        <img id="preview-image" src="" alt="Image Preview">
                    </div>
                </div>
                <div class="button-container">
                    <button onclick="location.href='/'" type="button" class="home-button">
                        <i class="fa-solid fa-house" style="color: white;"></i>
                    </button>
                    <button type="submit" class="add-post-button">
                        <i class="fas fa-plus" style="color: white;"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'imagepreview.js' %}"></script>
{% endblock %}
