{% extends 'body/welcome.html' %}
{% load static %}
{% block content %}
    <div class="post-page-wrapper">
        <div class="post-wrapper content-wrapper">
            <div class="post-image-large">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image">
                {% endif %}
            </div>
            <div class="post-details">
                <h1>{{ post.title }}</h1>
                <p class="author-info">Posted by <em>{{ post.user.userprofile.nickname }}</em></p>
                <div class="post-content">
                    <p>{{ post.content }}</p>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="add-comment-section">
                    <h2>Add a Comment</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        <textarea name="content" placeholder="Your comment"></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            {% else %}
                <p>Login to add a comment.</p>
            {% endif %}
            <div class="comments-section">
                <h2 class="comments-heading">Comments</h2>
                {% for comment in post.comments.all %}
                    <div class="comment">
                        <p class="comment-content">{{ comment.content }}</p>
                        <p class="comment-info">Posted by <em>{{ comment.user.userprofile.nickname }}</em> on {{ comment.comment_added_date }}</p>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
        <div class="pagination">
            <a href="{% url 'latestposts' %}"><i class="fas fa-angle-left"></i></a>
            <a href="{% url 'frontpage' %}" class="home-link"><i class="fas fa-home"></i></a>
        </div>        
    </div>
{% endblock %}
