{% extends 'body/welcome.html' %}
{% load static %}
{% block content %}
    <div class="post-page-wrapper">
        <div class="post-wrapper content-wrapper">
            <div class="post-image-large">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image">
                {% endif %}
            </div>
            <div class="post-details">
                <h1>{{ post.title }}</h1>
                <p class="author-info">Posted by <em>{{ post.user.userprofile.nickname }}</em></p>
                <div class="post-content">
                    <p>{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
